{% load static %}
  <nav class="navbar navbar-light" style="background-color: orange">
    <div class="container">
      <a class="navbar-brand" href="{% url 'posts:index' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span style="color:red">Game</span>tube
      </a>
      <ul class="nav nav-pills">
        {% with request.resolver_match.view_name as view_name %}
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'about:author' %}active{% endif %}"
              href="{% url 'about:author' %}">
              <span style="color:#e80000"><b>Об авторе</b></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'about:tech' %}active{% endif %}"
              href="{% url 'about:tech' %}">
              <span style="color:#e80000"><b>Технологии</b></span>
            </a>
          </li>
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link {% if view_name == 'posts:post_create' %}active{% endif %}"
                 href="{% url 'posts:post_create' %}"><span style="color:#e80000"><b>Новая запись</b></a></span>
            </li>
            <li class="nav-item">
              <a class="nav-link link-light {% if view_name == 'users:password_change' %}active{% endif %}"
                 href="{% url 'users:password_change' %}"><span style="color:black">Изменить пароль</a></span>
            </li>
            <li class="nav-item">
              <a class="nav-link link-light {% if view_name == 'users:logout' %}active{% endif %}"
                 href="{% url 'users:logout' %}"><span style="color:black">Выйти</a></span>
            </li>
            <li>Пользователь: {{ user.username }}</li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link link-light {% if view_name == 'users:login' %}active{% endif %}"
                 href="{% url 'users:login' %}"><span style="color:black">Войти</a></span>
            </li>
            <li class="nav-item">
              <a class="nav-link link-light {% if view_name == 'users:signup' %}active{% endif %}"
                 href="{% url 'users:signup' %}"><span style="color:black">Регистрация</a></span>
            </li>
          {% endif %}
        {% endwith %}
      </ul>
    </div>
  </nav>